
root = true

[*.cs]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true

# C# style rules
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_space_before_colon_in_inheritance_clause = true

# Naming rules
dotnet_naming_rule.interface_should_start_with_i.severity = warning
dotnet_naming_rule.interface_should_start_with_i.symbols = interfaces
dotnet_naming_rule.interface_should_start_with_i.style = prefix_i

dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.required_modifiers = *

dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = PascalCase
